input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    background-color: #c8d2d6;  
}

h1 {
    font-weight: bold;
    font-size: 30pt;
    padding: 20px;
    font-style: italic;
    text-align: center;
}

.campo-pesquisa {
    text-decoration: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 33px;
    outline: none;

}

.container-pesquisa {
    display: flex;
    padding-left: 20px;
}

.data {
    padding-top: 10px;
    font-weight: bold;
    font-size: 15pt;
    font-style: italic;
}

.title {
    
    font-weight: bold;
}

.explanation {
    font-weight: bold;
    font-size: 16pt;
    padding-bottom: 15px;
    text-align: center;
}

.container-buttons {
    text-align: center;
}

.botao {
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    background-color: white;
    border: 0.5px solid #e2dfde;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}

#dia-anterior, #botao-mostrar, #dia-posterior {
    border-radius: 5px;
}

#dia-anterior:hover, #botao-mostrar:hover, #dia-posterior:hover {
    background-color:#e2dfde;
}

#botao-pesquisa {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #e2dfde;
}

#botao-pesquisa:hover {
    transition: 0.25s;
    background-color: lightgreen;
    color: white;
}


.container-principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}

.container {
    margin: 10px;
}